.ipynb_checkpoints
/ml-20m
/ml-latest-small
/data
/DeepLearningMovies/data
Bag_of_Words_model.csv
*.pyc
test.png
additional/Bayesian Inference.pdf
additional/Bayesian Learning.pdf
additional/Gradient Descent.pdf
additional/ID3 Algorithm for Decision Trees.pdf
additional/Instance Based Learning.pdf
additional/Intro to Boosting.pdf
additional/Kernel_Methods_and_SVMs.pdf
additional/Linear Regression Review.pdf
